.Double{
    background-color: rgb(231, 43, 43);
    width: 50px;
    height: 100px;
    display: flex;
    flex: 33%;
    font-size: 20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
}

.Double:hover{
    border:1px solid wheat;
    color: teal;
}

/* .Double button {
    background-color: darkgray;
    border:0px;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    height: auto;
    cursor: arrow;
} */
