.Double{
    background-color: rgb(231, 43, 43);
    width: 50px;
    height: 100px;
    display: flex;
    flex: 33%;
    font-size: 20px;
    border:1px solid black;
    justify-content: center;
    align-items: center;
}

.Double:hover{
    border:1px solid wheat;
    color: teal;
}

